<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NSCameraUsageDescription</key>
	<string>To take picture</string>
	<key>UIDeviceFamily</key>
	<array>
		<integer>1</integer>
		<integer>2</integer>
	</array>
	<key>UIAppFonts</key>
	<array>
		<string>fa-brands-400.ttf</string>
		<string>SSTArabic-Bold.ttf</string>
		<string>SSTArabic-Light.ttf</string>
		<string>SSTArabic-Medium.ttf</string>
		<string>UIFontIcons.ttf</string>
		<string>GE_SS_Two_Light.otf</string>
		<string>SSTArabic-Roman.ttf</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleLocalizations</key>
	<array>
		<string>en</string>
		<string>ar</string>
	</array>
	<key>MinimumOSVersion</key>
	<string>11.0</string>
	<key>CFBundleName</key>
	<string>GAZT</string>
	<key>XSAppIconAssets</key>
	<string>Assets.xcassets/AppIcon-2.appiconset</string>
	<key>XSLaunchImageAssets</key>
	<string>Assets.xcassets/LaunchImage.launchimage</string>
	<key>Custom Property</key>
	<string></string>
	<key>Custom Property1</key>
	<string></string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>Picking Media</string>
	<key>NSCalendarsUsageDescription</key>
	<string>To select date</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>Can we use your location when your application is being used?</string>
	<key>NSLocationAlwaysUsageDescription</key>
	<string>Can we use your location at all times?</string>
	<key>NSLocationAlwaysAndWhenInUseUsageDescription</key>
	<string>Can we use your location at all times?</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLSchemes</key>
			<array/>
		</dict>
	</array>
	<key>UIRequiresFullScreen</key>
	<true/>
	<key>  UIViewControllerBasedStatusBarAppearance</key>
	<string>false</string>
	<key>UIStatusBarStyle</key>
	<string>UIStatusBarStyleDefault</string>
	<key>NSPhotoLibraryAddUsageDescription</key>
	<string>Can we use your photos to save attachments?</string>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>gamekit</string>
	</array>
	<key>UIUserInterfaceStyle</key>
	<string>Light</string>
	<key>CFBundleDisplayName</key>
	<string>GAZT</string>
	<key>CFBundleIdentifier</key>
	<string>com.gazt.enterprise.egazt</string>
	<key>CFBundleVersion</key>
	<string>1.0.0.92</string>
	<key>CFBundleShortVersionString</key>
	<string>4.0.0.83</string>
</dict>
</plist>
