@font-face {
    font-family: MyFont;
    src: url("/Somar-Bold.otf") format("opentype");
}

body {
    font-family: MyFont;
    text-align: justify;
    }

.marginAlign{
    margin: 20px;
}

.arabic{
    direction: rtl;
}

.c1 {
    color: #042e66;
}
.c2
{
    color: #7D858D;
}

.english{
    direction: ltr;
}

.undelineAlign
 {
    text-decoration:underline;
}
.textcasealign{
    text-transform: uppercase;
}